{% extends "layout.html" %}

{% block title %} 
Add surf spot
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 align-self-centre col-12">
      <div class="card mt-5">
        <div class="card-header">
          <h1>Add Surf Spot</h1>
        </div>
        <div class="card-body">
          <form action="/add_surf_spot" method="post">
            
            <div class="mb-3">
              <label for="spot_nickname" class="form-label">Surf spot name</label>
              <input type="text" class="form-control" id="spot_nickname" name="spot_nickname" autocomplete="off">
              <div id="spot_nicknameHelp" class="form-text">Pick a name for the spot. <br>Note: Name does not have to match the surflineID.</div>
            </div>
            <div class="mb-3">
                <label for="surfline_spot_reference" class="form-label">Surfline spot reference</label>
                <input type="text" class="form-control" id="surfline_spot_reference" name="surfline_spot_reference" autocomplete="off">
                <div id="surfline_spot_referenceHelp" class="form-text">Enter <a href="https://www.surfline.com/">Surfline.com</a>Spot Id.<br>Eg. URL https://www.surfline.com/surf-report/pipeline/5842041f4e65fad6a7708890 where 5842041f4e65fad6a7708890 is the spotId</div>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-primary">Add spot</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endblock %} 


