{% extends "layout.html" %}

{% block title %} 
Record
{% endblock %}

{% block body %}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 align-self-centre col-12">
        <div class="card mt-5">
          <div class="card-header">
            <h1>Record Session</h1>
          </div>
          <div class="card-body">
              <form action="/" method='post'>
                <!-- Location select menu-->



                <div class="mb-3" >
                  <label for="location" class="form-label">Surf Location</label>
                  <select class="form-select" name="location" id="location">
                    <option disabled value="Location">Location</option>
                    {% for location in locations %}
                    <option value="{{ location }}">{{ location|title }}</option>
                    {% endfor %}
                  </select>
                  <div id="locationHelp" class="form-text">Select a session location</div>
                </div>


                <!-- Rating select menu - keep inputs on server to prevent user changing-->
                <div class="mb-3">
                  <label for="User_rating" class="form-label">User rating</label>
                  <select class="form-select" name="user_rating" id="user_rating">
                    <option disabled value="user_rating">Wave quality</option>
                    {% for rating in ratings %}
                    <option value="{{ rating }}">{{ rating }}</option>
                    {% endfor %}
                  </select>
                  <div id="ratingHelp" class="form-text">Rate the surf conditions. 1:Flat   2:Poor    3:Fair    4:Good    5:Epic</div>
                </div>
                <!-- user text input-->
                <div class="mb-3">
                  <label for="user_text" class="form-label">Surf conditions</label>
                  <input type="text" class="form-control" id="user_text" name="user_text" autocomplete="off">
                  <div id="DescriptionHelp" class="form-text">Describe the surf conditions. eg. Head high, clean and consistent</div>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary text-centered">Save session</button>
                </div>
              </div>
              </form>  
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock %} 

